/* InfoBlock
============================== */

.info {
    position: relative;
  }
  
  .info__bg {
    position: absolute;
    z-index: -1;
    top: -150px;
  }
  
  .info__container {
    display: flex;
    justify-content: space-between;
  }
  

  .info__number-enable {
    width: 591.25px;
    height: 180px;
    background-color: #EEFBFF;
    border-radius: 20px 20px 10px 10px;
  
    text-align: start;
    padding: 25px 55px;
    position: relative;
  }
  
  .info__number-disable {
    width: 591.25px;
    height: 180px;
  
  
    border-radius: 20px 20px 10px 10px;
    text-align: start;
    padding: 25px 55px;
    position: relative;
  
  }
  
  .info__btn {
    display: flex;
    flex-direction: column;
  }


  .info-card__smaller {
    width: 591.25px;
    height: 136px;
    margin-top: 15px;

    border-radius: 20px;
    background: #EEFBFF;
  }