.btn {
    color: #fff;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
  
    border-radius: 10px;
    padding: 8px 32px;
    width: 150px;
    height: 36px;

  
    background: var(--main);
    transition: 0.3s ease-in-out;
    border:1px solid var(--second);
  }

  @media (any-hover:hover) {
    .btn:hover {
      color: var(--dark-text);
      background-color: var(--second);
      border-color: var(--main);
  
    }
    
  }

.btn:active{
    color: var(--second);
    background-color: var(--main);
} 