.btn {
    color: #fff;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
  
    border-radius: 10px;
    padding: 8px 32px;
    width: 144px;
    height: 36px;
  
    background: var(--main);
  }