html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --main: #3F7C91;
  --second: #E4F8FF;
  --dark-text: #2F2F2F;
  
  --font-family: "SF Pro Display", sans-serif;
  --second-family: "HelveticaNeueCyr", sans-serif;
  --third-family: "Mulish", sans-serif;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("/src/Fonts/SFProDisplay-Regular.woff2") format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("/src/Fonts/SFProDisplay-Medium.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("/src/Fonts/SFProDisplay-Semibold.woff2") format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/src/Fonts/HelveticaNeueCyr_light.woff2") format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url("/src/Fonts/Mulish-Medium.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url("/src/Fonts/Mulish-Black.woff2") format('woff2');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url("/src/Fonts/LeagueSpartan-ExtraBold.woff2") format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

/* Container
============================== */

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}


